html{
    font-size: 16px;
}
body{
    font-size: 1rem;
    background-image: url(paper-texture.jpg);
}
a{
    text-decoration: none;
    color: black;
}
/* Menu */
.menu{
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.logo{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.logoButton{
    background-color: palevioletred;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    color: aliceblue;
    font-size: 3rem;
    font-family: cursive;
}
.logoButton:hover{
    cursor: pointer;
    /* border: 1px solid blueviolet; */
    background-color: rgb(89, 89, 199);
}
.logoText{
    font-size: 2rem;
    text-align: center;
}
.memuItemHolder{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.menuItem{
    background: rgb(51, 50, 50);
    border-radius: 3px;
}
.menuItem>a{
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 3px;
}
@media screen and (max-width: 1300px){
    .memuItemHolder{
        width: 60%
    }
    .logo{
        flex-direction: column;
    }
}
@media screen and (max-width: 835px){
    .menu{
        flex-direction: column;
        justify-content: space-around;
    }
    .logo{
        width: 100%;
    }
    .memuItemHolder{
        width: 100%;
        justify-content: space-around;
    }
}


/* Header */
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.headerContainer{
    background-color: #fff;
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0 0 10px 10px;
}
.headerTitleHolder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
.headerTitle{
    font-size: 3rem;
    text-align: center;
}
.ht1{
    color: crimson;
}
.ht2{
    font-size: 2rem;
}
.headerButtonHolder{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.headerButton{
    width: 300px;
    height: 80px;
    margin: 5px 0;
    font-size: 2rem;
    font-weight: bold;
    color: darkblue;
}
.headerButton:hover{
    cursor: pointer;
    background: brown;
    color: whitesmoke;
}
@media screen and (max-width: 1000px){
    .headerContainer{
        justify-content: space-around;
        flex-direction: column;
        height: 400px;
    }
    .headerTitleHolder{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin: 10px 0 0 0; */
        width: 100%;
    }

}

/* Main */

.mainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 0 0 0;
}
.mainBox{
    /* width: 30%; */
    width: 384px;
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    background: #fff;
    border-radius: 10px;
}
.mainBoxImage{
    width: 384px;
    height: 304px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
}
.mbi1{
    background-image: url(pic01.jpg)
}
.mbi2{
    background-image: url(pic02.jpg)
}
.mbi3{
    background-image: url(pic03.jpg)
}
.mainBoxTitle{
    font-size: 2rem;
    text-align: center;
}
.mainBoxText{
    font-size: 1rem;
    margin:  0  0 0 30px;
}
@media screen and (max-width: 1220px){
    .mainContainer{
        flex-direction: column;
        align-items: center;
    }
    .mainBox{
        width: 90%;
        margin: 1vh 0;
    }
    .mainBoxImage{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
}
@media screen and (max-width: 600px){
    .mainBox{
        width: 384px;
    }
    .mainBoxImage{
        width: 384px;
        height: 304px;
        background-size: contain;
    }
}

.footer{
    /* height: 40vh; */
    margin-top: 10vh;
    width: 100%;
    background-color: rgb(206, 204, 204);
    border-top: 3px solid rgb(167, 163, 163);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footerBox{
    width: 30%;
}
.footerTitle{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
